@import "common.scss";

// ______________________________________

*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  font-family: "Sen", Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}
.container {
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  grid-template-columns: minmax(min-content, 103px) 1fr 1fr 1fr;
  background-color: $light-grey;
  align-items: space-between;

  .left-bar {
    background-image: linear-gradient(30deg, #5e77fb, #4964ef);
    border-radius: 12px;
    overflow: hidden;
    justify-content: center;
    align-content: space-between;
    grid-template-rows: 2fr repeat(3, 1fr) 2fr;

    & > * {
      justify-content: center;

      grid-template-columns: min-content;
    }
    & > * img {
      padding: 20px;
      border-radius: 14px;
      transition: all 0.5s ease;
    }
    & > * img:hover {
      background-color: $envelope-blue;
    }

    &__burger {
      align-content: start;
      padding: 20px;
      border-radius: 14px;
    }

    &__envelope {
      position: relative;
    }
    &__envelope::before {
      content: "4";
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 1px solid #fff;
      color: #fff;
      position: absolute;
      right: 25px;
      top: 5px;
      text-align: center;
      font-family: Arial, sans-serif;
      font-size: 0.78rem;
      font-weight: 600;
      line-height: 20px;
    }

    &__photo {
      align-content: end;
    }
  }
  .main-content {
    margin: 0 10%;
    display: grid;
    grid-template-rows: min-content 1fr 8fr;
    row-gap: 1rem;
    .search {
      display: grid;
      padding: 1rem 0;
      color: rgba(0, 0, 0, 0.28);
      grid-template-columns: min-content 2fr 1fr 1fr;
      border: 1px solid rgba(72, 98, 240, 0.12);
      border-radius: 12px;
      background-color: #fff;
      overflow: hidden;
    }
    .svg-wrapper {
      width: 100%;
      padding: 0 1.4rem;
      display: grid;
      align-content: center;
    }
    .queryinput {
      width: 100%;
      border-color: transparent;
      &:focus {
        border: transparent;
        outline: none;
      }
      &::placeholder {
        font-weight: bold;
        font-size: 1rem;
        color: rgba(0, 0, 0, 0.28);
      }
    }
    .sortinput {
      display: grid;
      align-content: center;
      width: 100%;
      padding-left: 15px;
      border-color: transparent;
      padding-right: 1%;
      position: relative;
      font-weight: 400;
      font-size: 1rem;
      color: rgba(0, 0, 0, 0.28);
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 1px;
        height: 50%;
        transform: translate(0, 50%);
        border-left: 1px solid rgba(0, 0, 0, 0.28);
      }
    }
    .choiceinput {
      width: 100%;
      border-color: transparent;
      &:focus {
        border: transparent;
        outline: none;
      }
      &::placeholder {
        font-weight: 600;
        font-size: 1rem;
        color: black;
      }
    }
    .main-content__header {
      display: grid;
      grid-template-areas: "left1 left2 . right1 right2";
      align-items: center;
      .header__logo {
        margin-left: 0.5rem;
        grid-area: left1;
        justify-self: start;
        font-size: 1.78rem;
        font-weight: 800;
        letter-spacing: 0;
      }
      .header__new {
        grid-area: left2;
        justify-self: start;
        width: 4.39rem;
        height: 2rem;
        border-radius: 8px;
        background-color: rgba(57, 85, 233, 0.18);
        display: grid;
        align-content: center;
        justify-content: center;
        font-size: 1rem;
        font-weight: 600;
        color: $dark-blue;
      }
      .header__customization {
        grid-area: right1;
        justify-self: end;
      }
      .header__parameters {
        grid-area: right2;
        justify-self: end;
      }
      .header__customization,
      .header__parameters {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #fff;
        display: grid;
        align-content: center;
        justify-content: center;
      }
    }
  }
  .main-content__letters {
    display: grid;
    grid-auto-flow: row;
    gap: 1.1rem;
    .letters__item {
      display: grid;
      grid-template-columns: 1fr 2fr 5fr 4fr;
      grid-template-rows: repeat(3, min-content);
      align-items: center;
      justify-content: center;
      border-radius: 12px;
      overflow: hidden;
      background-color: #fff;
      padding: 1.22rem;
      &:active {
        background-color: #5e77fb;
        margin: -1rem 1rem 1rem -1rem;
        transition: all 0.5s ease;
        color: #fff;
      }
      &:active * {
        color: #fff;
      }
      input {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        margin: 0 auto;
      }
      img {
        margin: 0 0.5rem;
        grid-column: 2/ 3;
        grid-row: 1 / 2;
      }
      .letter__name {
        grid-column: 3/ 4;
        grid-row: 1 / 2;
        font-size: 1.11rem;
        font-weight: 600;
      }
      .letter__data {
        grid-column: 4/ 5;
        grid-row: 1 / 2;
        display: grid;
        grid-template-columns: repeat(3, min-content);
        gap: 1rem;
        align-items: center;
        justify-content: space-between;
        color: $grey-text;
        font-size: 0.89rem;
        font-weight: 600;
      }
      .description__flag {
        grid-column: 1/ 2;
        grid-row: 2 / 3;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: $dark-blue;
        margin: 0 auto;
      }
      .desctiption__theme {
        grid-column: 3/ 5;
        grid-row: 2 / 3;
        overflow: hidden;
        padding: 0.8rem 0;
        color: $blue-text;
      }
      .description__text {
        grid-column: 3/ 5;
        grid-row: 3/ 4;
        font-size: 0.89rem;
        color: rgba(51, 51, 51, 0.7);
      }
    }
  }

  .additional-content {
  }
  .right-bar {
    background-color: #fff;
  }
}
