@import "common.scss";

// ______________________________________

*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  font-family: "Sen", Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}
.container {
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  grid-template-columns: minmax(min-content, 103px) 3fr 3fr 3fr;
  background-color: $light-grey;
  align-items: space-between;

  .left-bar {
    background-image: linear-gradient(30deg, #5e77fb, #4964ef);
    border: 1px solid $border-grey;
    border-radius: 12px;
    overflow: hidden;
    justify-content: center;
    &__burger {
      align-content: start;
      margin: 20px auto;
    }
    &__centrals {
      align-content: space-between;
    }
    &__photo {
      margin-bottom: 20px;
      align-content: end;
    }
  }
  .main-content {
  }
  .additional-content {
  }
  .right-bar {
    background-color: #fff;
  }
}
